name: Checking code quality

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setting up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          cache: npm

      - name: npm install
        run: npm ci --no-audit --no-fund

      - name: lint
        run: npm run lint

      - name: test
        run: npm run test:ci

      - name: build
        run: npm run build
